/* style sheet for Steely Dan pop-up */

:root {
  /* font size */
  font-size: 16px;

  /* color variables */
  --white: #fdffff;
  --darkBlue: #001e3d;

  /* layout variables */
  --borderRadius: 4px;
  --padding: 8px;
  --scale: 1.01;
}

html {
  background: var(--white);
  min-height: 3rem;
  min-width: 28rem;
}

h1 {
  font-size: 1rem;
}

span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  /* padding: var(--padding); */
}

.wrapper {
  display: flex;
  height: 4rem;
  margin-top: 0.5rem;
  min-width: 5rem;
}

.info {
  font-size: 1rem;
}
