/* style sheet for Steely DAn pop-up */

:root {
  /* font size */
  font-size: 16px;

  /* color variables */
  --white: #fdffff;
  --darkBlue: #001e3d;

  /* layout variables */
  --borderRadius: 4px;
  --padding: 8px;
  --scale: 1.01;
}

html {
  min-height: 3rem;
  min-width: 28rem;
  background: var(--white);
}

.wrapper {
  min-width: 5rem;
  /* border: 1px solid red; */
}

.lyricWrapper {
  padding: var(--padding);
  height: 4rem;
  min-width: 200px;
  /* border: 1px solid green; */
}

.lyric {
  font-size: 1rem;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.btn {
  border-radius: var(--borderRadius);
  /* border: 1px solid blue; */
}

.btn:hover {
  cursor: pointer;
  transform: scale(var(--scale));
}
